@charset "UTF-8";
/* CSS para impressão */
*{
      margin: 0px;
      padding: 0px;
}

html{
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.5em;
      line-height: 1.5em;
}
menu {
      display: none;
}
h1 {
      text-align: center;
      padding: 20px;
}
h2{
      text-align: center;
      padding: 20px;
}
article p {
      font-size: 1em;
      text-align: justify;
      text-indent: 50px;
}
article::after {
      content: 'Esse artigo foi impresso através do site www.allan.com';
}